<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Book</title>
</head>
<body>
	<p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}"/>
	<br/>
	<div th:if="${owner}">
		<span>Книга у : </span><span th:text="${owner.name}">Person name</span>
		<form th:method="patch" th:action="@{/books/{id}/release(id=${book.getId()})}">
			<input type="submit" value="Освободить!">
		</form>
	</div>
	<div th:if="${people}">
		<form th:method="patch" th:action="@{/books/{id}/assign(id=${book.getId()})}">
			<label for="person"> Выберите человека </label>
			<select th:object="${person}" th:field="*{id}" id="person">
				<option th:each="person : ${people}" th:value="${person.id}" th:text="${person.name}">person</option>
			</select>
			<input type="submit" value="Назначить!"/>
		</form>
	</div>
	<br/>
	<form th:method="get" th:action="@{/books/{id}/edit(id=${book.getId()})}">
		<input type="submit" value="Редактировать!"/>
	</form>
	
	<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
		<input type="submit" value="Удалить!"/>
	</form>
	<form th:method="get" th:action="@{/people}">
		<input type="submit" value="Список людей"/>
	</form>
	
</body>
</html>